<h1>Battle for the abyss</h1>
<h2>Sign up to play!<h2>
<h3> it only costs your soul <h3>
<form action="/names" method="post">
  <label for="player_1_name">
    Sacrifice one
  <input type="text" name="player_1_name">
  </label><br>
  <label for="player_2_name">
    Sacrifice two
  <input type="text" name="player_2_name">
  </label><br>
  <input type="submit" value="Submit">
</form><br>
<h1> You'll never walk again! </h1>
